---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="flex flex-col items-center justify-center min-h-screen text-center p-8"
  >
    <h1 class="text-4xl font-bold mb-3">Under Construction</h1>
    <p class="text-lg text-gray-500 my-2">
      Something is being built here. Check back soon!
    </p>
    <p class="text-lg text-gray-500 my-2">
      In the meantime, find me on <a
        href="https://www.linkedin.com/in/tierney-brendan/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-600 no-underline hover:underline">LinkedIn</a
      >.
    </p>
  </main>
</Layout>
